@font-face {
    font-family: 'UNAERPFONT';
    src: url('../fonts/Trade Gothic LT Condensed No. 18.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

:root{
    --UNAERP-blue: #032565;
    --UNAERP-dark-blue: #001A4F;
    --UNAERP-yellow: #F2D200;
    --UNAERP-grey: #7B7B7B;

    --UNAERP-color-1: #FF0000;
    --UNAERP-color-2: #00FF00;
    --UNAERP-color-3: #0000FF;
    --UNAERP-color-4: #FFFF00;
    --UNAERP-color-5: #00FFFF;
    --UNAERP-color-6: #FF00FF;
    --UNAERP-color-7: #C0C0C0;
    --UNAERP-color-8: #808080;
    --UNAERP-color-9: #800000;
    --UNAERP-color-10: #808000;
}

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

body, h1, p, h2{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

.timetable-header {
    min-height: 50px;
    box-sizing: border-box;
    background-image: url(../imgs/desktop-header-background.png);
    background-color: var(--UNAERP-blue) !important;
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 16px;
    padding-top: 8px;
    font-family: 'UNAERPFONT';
}

.timetable-header-logo {
    background-image: url(../svg/desktop-logo.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 32px;
    padding: 5px 0 0 105px;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-shadow: none;
    text-decoration: none;
}

.schedule-title{
    font-size: 36px;
    font-weight: normal;
    color: var(--UNAERP-dark-blue);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'UNAERPFONT';
}

.schedule-selection{
    margin-right: 8px;
    border: none;
    font-size: 36px;
    color: var(--UNAERP-dark-blue);
    font-family: 'UNAERPFONT';
}

.schedule-selection option{
    font-size: 18px;
    font-family: 'UNAERPFONT';
    color: var(--UNAERP-dark-blue);
}

.schedule-day-title{
    width: 80%;
    background-color: var(--UNAERP-yellow);
    border-radius: 5px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px;
    font-size: 16px;
    color: var(--UNAERP-dark-blue);
    align-items: center;
    justify-items: center;
    font-family: 'UNAERPFONT';
}

.schedule-day-title h2{
    font-weight: normal;
}

.schedule{
    display: flex;
}

.schedule h3{
    font-size: 16px;
    color: var(--UNAERP-grey);
    font-weight: lighter;
    margin-left: 16px;
    margin-top: 0px;
}

.schedule-grid > div {
    position: relative;
    border-bottom: 1px solid #7B7B7B50; /* Change the color and style as desired */
}


.schedule-grid{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(17, 120px);
}

.schedule-grid > div{
    border-bottom: 1px solid #7B7B7B50;
}

.timeslots{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(17, 120px);
    margin-top: -14px;
    font-family: 'UNAERPFONT';
}

.schedule-grid > div.scheduled-class-half {
    grid-column: 2; /* Adjust the column number here */
    grid-row: 3; /* Adjust the row number here */
}

.scheduled-class-wrapper{
    display: flex;
    height: 100%;
}

.scheduled-class-color-5{
    width: 20px;
    height: 100%;
    background-color: var(--UNAERP-color-5);
    border-radius: 8px 0px 0px 8px;
}

.scheduled-class-color-2{
    width: 20px;
    height: 100%;
    background-color: var(--UNAERP-color-2);
    border-radius: 8px 0px 0px 8px;
}

.scheduled-class-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.scheduled-class-content-half{
    height: 90px;
    background-color: var(--UNAERP-dark-blue);
    border-radius: 0px 8px 0px 0px;
    margin-left: 2px;
}

.scheduled-class-content-full{
    height: 210px;
    background-color: var(--UNAERP-dark-blue);
    border-radius: 0px 8px 0px 0px;
    margin-left: 2px;
}

.scheduled-class-content-half-time{
    height: 30px;
    background-color: var(--UNAERP-dark-blue);
    border-radius: 0px 0px 8px 0px;
    margin-left: 2px;
    margin-top: 2px;
}

.class-time{
    font-size: 16px;
    color: white;
    margin-left: 8px;
    margin-top: 2px;
}

.class-code-type{
    font-size: 16px;
    color: white;
    margin-left: 8px;
}

.class-name{
    font-size: 20px;
    color: white;
    margin-left: 8px;
}

.professor{
    font-size: 14px;
    color: white;
    margin-left: 8px;
}

.schedule-grid > div.scheduled-class-full {
    grid-column: 4; /* Adjust the column number here */
    grid-row: span 2; /* Adjust the row number here */
}