@font-face {
    font-family: 'UNAERPFONT';
    src: url('../fonts/Trade Gothic LT Condensed No. 18.ttf');
    font-weight: normal;
}

:root{
    --UNAERP-blue: #032565;
    --UNAERP-dark-blue: #001A4F;
    --UNAERP-yellow: #F2D200;
    --UNAERP-grey: #7B7B7B;
}

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Open Sans', arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

body, h1{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

.timetable-header {
    min-height: 50px;
    box-sizing: border-box;
    background-image: url(../imgs/desktop-header-background.png);
    background-color: var(--UNAERP-blue) !important;
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 16px;
    padding-top: 8px;
}

.timetable-header-logo {
    background-image: url(../svg/desktop-logo.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 32px;
    /* padding: 10px 0 0 105px; */
    padding: 5px 0 0 105px;
    background-position: left center;
    background-repeat: no-repeat;
    font-family: 'UNAERPFONT', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-shadow: none;
    text-decoration: none;
}

.schedule-title{
    font-size: 36px;
    font-weight: normal;
    font-family: 'UNAERPFONT';
    color: var(--UNAERP-dark-blue);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.schedule-selection{
    margin-right: 8px;
    border: none;
    font-size: 36px;
    color: var(--UNAERP-dark-blue);
    font-family: 'UNAERPFONT';
}

.schedule-selection option{
    font-size: 18px;
    font-family: 'UNAERPFONT';
    color: var(--UNAERP-dark-blue);
}

.schedule-day-title{
    width: 80%;
    background-color: var(--UNAERP-yellow);
    border-radius: 5px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'UNAERPFONT';
    color: var(--UNAERP-dark-blue);
}

.schedule-day-title h2{
    font-weight: normal;
}

.schedule{
    display: flex;
}

.schedule h3{
    font-family: 'UNAERPFONT';
    font-size: 16px;
    color: var(--UNAERP-grey);
    font-weight: lighter;
    margin-left: 16px;
    margin-top: 0px;
}

.schedule-grid{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(17, 80px);
    border-bottom: 1px solid #7B7B7B50;
}

.timeslots{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(17, 80px);
    margin-top: -14px;
}